/* Container principal */
.login-organizador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
  }
  
  /* Logo */
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Título */
  .title {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .title .green {
    color: #28a745;
  }
  
  .title .red {
    color: #dc3545;
  }
  
  /* Subtítulo */
  .subtitle {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
  }
  
  /* Grupo de formulário */
  .form-group {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Rótulos */
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  /* Campos de entrada */
  .form-group input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Botão */
  .go-button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .go-button:hover {
    background-color: #788821;
  }
  
  